body {
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.navbar-custom-brand {
  font-weight: 600;
  font-size: 40px;
  color: #4a4a4a;
}

.img-object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-img {
  background: rgba(29, 29, 29, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;
}
